:root {
    --color-border: #c1c0b9;
    --color-bg: #e7e6e1;
    --color-hover: #537791;
}
body{
    background-color: #f7f7e6;
    font-family: 'Roboto', sans-serif;
}

.wrapper{
    height: 720px;
    width: 540px;
    margin:  100px auto 0 auto;
    position: relative;
}

.slider{
    height: inherit;
    width: inherit;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
    border-radius: 15px;
}

.slides{
    height: inherit;
    width: inherit;
    opacity: 0;
    position: absolute;
    z-index: 0;
    transform: scale(1.5);
    transition: transform ease-in-out .5s, opacity ease-in-out .5s;
}

.slide1{
    background-image: url("images/desktop/candy.jpeg");
}
.slide2{
    background-image: url("images/desktop/cat.jpeg");
}
.slide3{
    background-image: url("images/desktop/strawbery.png");
}
.slide4{
    background-image: url("images/desktop/tongue.jpeg");
}

.slider-wrap-text{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
}

.slider-description{
    display: inline-block;
    margin-left: 15px;
    transition: transform 1s ease;
}

.slider-description p {
    height: inherit;
    width: inherit;
    position: absolute;
    opacity: 0;
    z-index: 0;
    transform: scale(1.5);
    transition: transform ease-in-out .5s, opacity ease-in-out .5s;
}

p{
    font-size: 20px;
    color: transparent;
    background: #666666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0 3px 3px rgba(255,255,255,0.5);
}

#slide1:checked ~ .slider > .slide1,
#slide1:checked ~ .slider-description > .slide-text-1,
#slide2:checked ~ .slider > .slide2,
#slide2:checked ~ .slider-description > .slide-text-2,
#slide3:checked ~ .slider > .slide3,
#slide3:checked ~ .slider-description > .slide-text-3,
#slide4:checked ~ .slider > .slide4,
#slide4:checked ~ .slider-description > .slide-text-4
{
    opacity: 1;
    z-index: 1;
    transform: scale(1);
}

.wrapper > input {
    display: none;
}

.controls {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.controls label {
    position: relative;
    display: inline-block;
    padding: 1.4rem;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.controls label:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(50%, 50%);
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    border: 1px solid var(--color-border);
    background-color: var(--color-bg);
    transition: all 0.5s ease-out;
}

.controls label:hover:before {
    border: 1px solid var(--color-hover);
    background-color: var(--color-hover);
}


#slide1:checked ~ .controls .control-1::before {
    background-color: var(--color-border);
}
#slide2:checked ~ .controls .control-2::before {
    background-color: var(--color-border);
}
#slide3:checked ~ .controls .control-3::before {
    background-color: var(--color-border);
}
#slide4:checked ~ .controls .control-4::before {
    background-color: var(--color-border);
}

@media screen and (max-width: 720px) {

    .wrapper{
        height: 400px;
        width: 300px;
        margin:  100px auto 0 auto;
        position: relative;
    }

    .slider-description p{
        bottom: -35%;
        left: 0;
    }

    .controls{
        justify-content: center;
    }

    .slide1{
        background-image: url("images/mobile/candy-mobile.jpeg");
        background-repeat: no-repeat;
    }
    .slide2{
        background-image: url("images/mobile/cat-mobile.jpeg");
        background-repeat: no-repeat;
    }
    .slide3{
        background-image: url("images/mobile/strawbery-mobile.jpeg");
        background-repeat: no-repeat;
    }
    .slide4{
        background-image: url("images/mobile/tongue-mobile.jpeg");
        background-repeat: no-repeat;
    }
}